
.navbar {
  /*position: fixed;*/
  top: 0;
  left: 0;
  width: 100%;
  background-color: #F5F5F5;
  opacity: 95%;
  color: #2C2F24;
  height: 100px;
  /*padding: 10px 20px;*/
  /*z-index: 1000;*/
  /*display: flex;*/
  /*justify-content: center;*/
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 40px;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  color: #2C2F24;
  text-decoration: none;
  font-size: 18px;
  padding-bottom: 5px;
  position: relative;
  /*transition: color 0.3s ease; !* Smooth color transition on hover *!*/
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.navbar ul li a::after {
  content: '';
  position: absolute;
  width: 0; /* Initially no width */
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2C2F24;
  transition: width 0.3s ease; /* Smooth width transition for underline */
}

.navbar ul li a:hover {
  color: black;
  font-weight: bold;
}

.navbar ul li a:hover::after {
  width: 100%; /* Underline expands on hover */
}

.navbar ul li a.selected::after {
  width: 100%; /* Keep the underline visible for selected item */
}
